
latex/document.aux
latex/document.log
latex/document.out
latex/document.synctex.gz
latex/document.synctex(busy)
latex/document.pdf
latex/document.toc
latex/texput.log

drawio/.$l12-bottom-panel.drawio.bkp
drawio/.$l12-top-panel.drawio.bkp
